<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">


  <!-- Disable tap highlight on IE -->
  <!-- <meta name="msapplication-tap-highlight" content="no"> -->

  <!-- <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="../static/favicon.ico" rel="icon"> -->

  <title>Title page</title>

  <link href="../static/main.css" rel="stylesheet">

</head>

<body class="">

  <!-- Add your content of header -->
  <div class="background-color-layer" style="background-image: url('../static/images/skyscraper.jpeg')"></div>
  <main class="content-wrapper">
    <header class="white-text-container section-container">
      <div class="text-center">
        <h1>I am Subrata Das</h1>
        <h2><span id="element"></span></h2>
        <p>


          <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/subdas374/" title="" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://github.com/subdas374" title="" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </header>






    <!-- Add your site or app content here -->

    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="card">
            <div class="card-block">
              <h2>About me</h2>
              <div class="row">
                <div class="col-md-4">
                  <p><img src="../static/images/profile-image.jpg" class="img-responsive" alt=""></p>

                  <a href="https://github.com/subdas374" target="_blank"><button type="button"
                      class="btn btn-secondary">GitHub</button></a>
                  <a href="../static/Subrata_resume.pdf" download="SubrataDas-resume.pdf"><button type="button"
                      class="btn btn-primary">Resume</button></a>
                </div>
                <div class="col-md-8">

                  <p>I am a passionate and dedicated data scientist, driven by the desire to use data to drive business
                    decisions and solve real-world problems. With a strong foundation in statistics, machine learning,
                    and data visualization, I am eager to apply my skills to impactful projects.</p>
                  <p> Throughout my studies, I have honed my abilities in data analysis, modeling, and effective
                    communication. I excel at extracting insights from complex data sets and translating them into
                    actionable recommendations. My approach to data science is grounded in a rigorous and scientific
                    mindset, utilizing statistical methodologies and machine learning techniques to uncover patterns and
                    trends. I also have strong data visualization skills, enabling me to present complex findings in a
                    visually compelling and accessible manner.</p>
                  <p>Not only do I possess technical expertise, but I am also committed to making a positive impact on
                    organizations. I understand that data science is about understanding business needs and goals, and
                    finding data-driven solutions to address them. I am excited about collaborating with organizations
                    that share my passion for leveraging data to drive innovation and growth.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <h2>Projects</h2>
              <div class="row">

                <div class="col-md-4">
                  <a href="https://github.com/subdas374/IrisSage" target="_blank">
                    <img src="./assets/images/iris_flower.jpg" class="img-responsive" alt="">
                    <h3 class="h5">IrisSage</h3>
                  </a>
                  <p>August 2023</p>
                </div>
                <div class="col-md-4">
                  <a href="https://github.com/subdas374/IrisSage" target="_blank">
                    <img src="./assets/images/iris_flower.jpg" class="img-responsive" alt="">
                    <h3 class="h5">IrisSage</h3>
                  </a>
                  <p>March 2017</p>
                </div>
                <div class="col-md-4">
                  <a href="https://github.com/subdas374/IrisSage" target="_blank">
                    <img src="./assets/images/iris_flower.jpg" class="img-responsive" alt="">
                    <h3 class="h5">IrisSage</h3>
                  </a>
                  <p>March 2017</p>
                </div>


              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <h2>Work</h2>
              <div class="work-experience">
                <small class="date">2017-2015</small>
                <h3 class="h5 date-title">Web developer - <a href="http://en.orson.io"
                    title="Create professionnal website">Orson.io</a></h3>


                <p>Leo vel orci porta non pulvinar neque laoreet suspendisse interdum. Vitae ultricies leo integer
                  malesuada nunc. Imperdiet proin fermentum leo vel orci porta non pulvinar neque. Fermentum leo vel
                  orci porta non. Posuere sollicitudin aliquam ultrices sagittis. Aliquam faucibus purus in massa tempor
                  nec.</p>
              </div>

              <div class="work-experience">
                <small class="date">2017-2015</small>
                <h3 class="h5 date-title">Web developer - <a href="http://mashup-template.com" title="">Mashup
                    Template</a></h3>

                <p>Fermentum leo vel orci porta non. Posuere sollicitudin aliquam ultrices sagittis. Aliquam faucibus
                  purus in massa tempor nec.</p>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-block">
              <h2>Education</h2>
              <div class="row">
                <div class="col-md-4">
                  <div class="education-experience">
                    <small class="date">2018-2021</small>
                    <h3 class="h5 date-title">B.Sc. in Physics</h3>
                    <p>The University of Burdwan</p>
                  </div>

                </div>
                <div class="col-md-4">
                  <div class="education-experience">
                    <small class="date">2022-2024</small>
                    <h3 class="h5 date-title">M.Sc. in Data Science</h3>
                    <p>Chandigarh University</p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <h2>Language</h2>
              <div class="row">
                <div class="col-md-4">
                  <div class="language-experience">
                    <h3 class="h5">English <small>Bilingual</small></h3>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="language-experience">
                    <h3 class="h5">Bengali <small>native</small></h3>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="language-experience">
                    <h3 class="h5">Hindi <small>fluent</small></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <!-- <div class="card">
        <div class="card-block">
          <h2>Social Network</h2>
          <div class="row">
            <div class="col-md-3">
              <p class="social-buttons"><a href="https://twitter.com/" title=""><span
                    class="social-round-icon fa-icon"><i class="fa fa-twitter"></i></span>@David_Folley</a></p>
            </div>
            <div class="col-md-3">
              <p class="social-buttons"><a href="https://www.linkedin.com/" title=""><span
                    class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>David Folley</a></p>
            </div>
            <div class="col-md-3">
              <p class="social-buttons"><a href="https://dribbble.com/" title=""><span
                    class="social-round-icon fa-icon"><i class="fa fa-dribbble"></i></span>David Folley</a></p>
            </div>
          </div>
        </div>
      </div> -->

      <div class="card">
        <div class="card-block">
          <h2>Contact</h2>
          <form method="POST" action="/contact" class="reveal-content" id="contact-form">
            <div class="form-group">
              <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"
                required></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary">Send message</button>
            </div>
          </form>
        </div>
      </div>

    </div>
    </div>
    </div>



  </main>

  <!-- Thank you pop-up message -->
  <div class="popup" id="popup">
    <div class="popup-content">
      <span class="close" id="close-popup" onclick="closePopup()">&times;</span>
      <p>Thank you for contacting me! You will hear from me soon.</p>
    </div>
  </div>


  <footer class="footer-container white-text-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">


          <p>© 2023 Subrata Das. All Rights Reserved.</p>

        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      scrollRevelation('.card');
    });
  </script>
  <script type="text/javascript" src="./main.js"></script>



  <!-- for animation text  -->
  <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>


  <script>
    var typed = new Typed('#element', {
      strings: ['Data Analyst', 'and i love Python'],
      typeSpeed: 50,
    });
  </script>


  <!-- Add this JavaScript code to display the pop-up message after redirect -->
  <!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Check if the URL contains a success parameter (you can modify this logic based on your Flask redirection)
      const urlParams = new URLSearchParams(window.location.search);
      if (urlParams.get("success")) {
        const popup = document.getElementById("popup");
        popup.style.display = "block";
      }
    });
  </script> -->

  <script>
    function closePopup() {
      const popup = document.getElementById("popup");
      popup.style.display = "none";
    }
  
    document.addEventListener("DOMContentLoaded", function () {
      const urlParams = new URLSearchParams(window.location.search);
      if (urlParams.get("success")) {
        const popup = document.getElementById("popup");
        popup.style.display = "block";
      }
    });
  </script>


</body>

</html>